.sort{
    width:997px;
    float:right;
}

.sort strong{
    color:#999;
    font-weight:100;
}

.sort span.act{
    color:#26b484;
    font-weight:bold;
}

/*面包屑*/
.level_navigation{
    height:40px;
    margin-top:10px;
    line-height:40px;
    text-indent:10px;
    font-family:SimSun;
    color:#999;
}

.level_navigation a{
    color:#999;
}

.level_navigation a.act{
    color:#666;
}

/*面包屑*/

.related_searches{
    font-family:SimSun;
    height:33px;
    border:1px solid #e5e5e5;
    color:#333;
    line-height:33px;
    text-indent:10px;
}

.related_searches a{
    margin:0 6px;
    color:#333;
}

.related_searches a:hover{
    color:#27b484;
}

/*更多按钮*/
.more_btn{
    color:#666;
    right:10px;
    height:33px;
    top:0;
    line-height:33px;
    display:block;
    font-style:inherit;
    background:url(../images/toogle_icotop.png) right center no-repeat;
    padding-right:12px;
    cursor:pointer;
}

.more_btn.act{
    background-image:url(../images/toogle_icobottom.png);
}

/*更多按钮*/
/*分类内容*/
.sorting_options{
    border:1px solid #e5e5e5;
    margin-top:10px;
    color:#333;
    font-size:12px;
    font-family:SimSun;
    position:relative;
    z-index:2;
}

.search_result{
    height:30px;
    line-height:30px;
    text-indent:5px;
    font-size:14px;
    position:absolute;
    right:15px;
    top:0;
}

.search_result span{
    color:#27b484;
    margin:0 5px;
}

.class_brand{
    height:24px;
    text-indent:10px;
    border-top:1px solid #e5e5e5;
    line-height:24px;
    padding:5px 0 5px 46px;
    overflow:hidden;
}

.class_brand.act{
    height:auto;
}

.class_brand strong{
    margin-left:-46px;
    float:left;
}

.class_brand span{
    cursor:pointer;
    color:#333;
    margin-right:40px;
    display:inline-block;
    *display:inline;
    *zoom:1;
    float:left;
    *white-space:nowrap;
}

.class_brand span.act{
    color:#27b484;
}

.classification{
    border-top:1px solid #e5e5e5;
    text-indent:10px;
    line-height:24px;
    padding-left:46px;
    overflow:hidden;
    height:24px;
    padding-top:5px;
    padding-bottom:5px;
}

.classification.act{
    height:auto;
}

.classification span{
    white-space:nowrap;
    margin-right:30px;
    display:inline-block;
    float:left;
    cursor:pointer;
    *display:inline;
    *zoom:1;
}

.classification strong{
    margin-left:-46px;
    float:left;
}

.promotional_merchandise{
    padding:5px 0 5px 46px;
    *padding-left:70px;
    border-top:1px solid #e5e5e5;
    height:24px;
    line-height:24px;
}

.promotional_merchandise strong{
    margin-left:-36px;
    *margin-left:-60px;
    *position:absolute;
}

.promotional_merchandise span{
    margin-right:30px;
    cursor:pointer;
    display:inline-block;
    *display:inline;
    *zoom:1;
}

/*分类内容*/
/*排序*/
.sequences{
    border:1px solid #e5e5e5;
    background:#f6f6f6;
    height:30px;
    margin-top:10px;
    padding-left:10px;
    line-height:30px;
    position:relative;
    z-index:1;
}

.sequences strong{
    color:#333;
}

.sequences .seq_btn{
    margin-right:10px;
    padding:0 10px;
    height:20px;
    line-height:20px;
    border:1px solid #e5e5e5;
    display:inline-block;
    *display:inline;
    *zoom:1;
    background:#fff;
    text-align:center;
    cursor:pointer;
}

.sequences_ico{
    width:7px;
    height:9px;
    background:url(../images/oct_ico.png) no-repeat;
    display:inline-block;
    *display:inline;
    *zoom:1;
    margin:0 3px;
    vertical-align:middle;
}

.sequences_ico_top{
    background-position:0 0;
}

.sequences_ico_bottom{
    background-position:0 -12px;
}

.sequences .seq_btn.act{
    color:#27b484;
}

.sequences .seq_btn.act .sequence_ico_top{
    background-position:-9px 0;
}

.sequences .seq_btn.act .sequence_ico_bottom{
    background-position:-9px -12px;
}

/*排序*/
/*已选条件*/
.selected_conditions{
    padding-left:75px;
    height:auto;
    border-top:none;
}

.selected_conditions strong{
    margin-left:-65px;
    *position:absolute;
}

.selected_conditions span{
    border:1px solid #26b484;
    padding:5px;
    color:rgb(39, 180, 132);
    margin-right:5px;
    display:inline-block;
    *display:inline;
    *zoom:1;
    height:12px;
    line-height:12px;
    margin-bottom:3px;
}

.selected_conditions span a{
    padding:0 3px;
}

/*已选条件*/
/*产品内容*/
.categories_contents{
    margin-top:10px;
    margin-bottom:100px;
    position:relative;
    z-index:1;
}

.categories_contents ul{
    margin-left:-2px;
    *overflow:hidden;
}

.categories_contents ul li{
    float:left;
    width:247px;
    margin-left:2px;
    margin-bottom:20px;
}

/*产品内容*/
/*促销标签*/
.shipping_label{
    margin-left:5px;
    height:14px;
    color:#fff;
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:top;
    *vertical-align:middle;
    font-size:12px;
    line-height:12px;
    padding:0 2px;
    margin-top:2px;
    *line-height:15px;
    *height:17px;
    *position:absolute;
    *top:21px;
}

.shipping_label.full_cut{
    background:#e4393c;
}

.shipping_label.free_shipping{
    background:#05b8ee;
}

/*产品图*/
a.product_content{
    display:block;
    border:1px solid #fff;
    padding:9px;
    position:relative;
    transition:0.3s;
    -webkit-transition:0.3s;
}

a.product_content:hover{
    border-color:#dedede;
    box-shadow:0 0 10px #dedede;
    position:relative;
    z-index:1;
}

a.product_content:hover .add_collect{
    display:block;
}

a.product_content img{
    width:227px;
    height:227px;
    display:block;
}

.pro_price{
    color:#e12228;
    font-size:20px;
    padding:15px 0;
    font-family:Microsoft YaHei, Arial, Lucida, Verdana, Hiragino Sans GB, STHeiti, WenQuanYi Micro Hei, SimSun, sans-serif;
    position:relative;;
}

.pro_name{
    height:36px;
    overflow:hidden;
}

/*添加收藏*/
.add_collect{
    display:none;
    width:46px;
    height:25px;
    line-height:25px;
    background:rgba(0, 0, 0, 0.6);
    top:210px;
    right:10px;
    color:#fff;
    padding:0 5px;
    filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr=#66000000, endColorstr=#66000000);
    *top:210px;
    cursor:pointer;
}

.add_collect.act{
    color:#26b484;
    width:60px;
}

.add_collect.act b{
    font-size:15px;
}

.add_collect b{
    font-weight:100;
    font-size:20px;
    vertical-align:middle;
    margin:0 3px;
}

/*添加收藏*/

/*左侧产品分类*/
.left_side_box{
    width:198px;
    float:left;
}

.left_product_categories{
    width:198px;
    border:1px solid #e5e5e5;
    margin-bottom:9px;
}

.left_title{
    border-bottom:1px solid #e5e5e5;
    line-height:38px;
    text-indent:10px;
    height:38px;
    font-size:16px;
    color:#333;
    font-weight:100;
    font-family:Microsoft YaHei, Arial, Lucida, Verdana, Hiragino Sans GB, STHeiti, WenQuanYi Micro Hei, SimSun, sans-serif;
}

.product_categories_content{
}

.product_categories_content ul{
    overflow:hidden;
    padding-bottom:10px;
}

.product_categories_content ul li{
    text-indent:10px;
}

.product_categories_content ul li a{
    display:block;
    height:30px;
    line-height:30px;
}

.product_categories_content ul li.act a{
    height:40px;
    line-height:40px;
    background:#f9f9f9;
    color:#26b484;
}

.left_product_categories a.product_content img{
    width:179px;
    height:179px;
}

.left_product_categories a.product_content .pro_price{
    font-size:16px;
}

.left_product_categories a.product_content:hover{
    box-shadow:none;
    border-color:#fff;
}

/*高级选项*/
.advanced_options{
    position:relative;
}

.advanced_options a{
    border:1px solid #ddd;
    padding:5px;
    margin-right:10px;
    display:inline-block;
    *display:inline;
    *zoom:1;
    height:12px;
    line-height:12px;
    margin-bottom:3px;
    position:relative;
    z-index:9;
    padding-right:17px;
    color:#333;
    background:#fff;
}

.advanced_options a .more_btn{
    height:23px;
    right:5px;
}

.advanced_options a.act{
    border-color:#999;
    z-index:11;
    border-bottom:1px solid #fff;
    color:#333;
}

.advanced_options a.act .more_btn{
    background-image:url(../images/toogle_icobottom.png);
}

.ad_op_content{
    position:absolute;
    top:28px;
    left:-1px;
    z-index:10;
    background:#fff;
    overflow:hidden;
    display:block;
}

.advanced_options .ad_op_content_list{
    border:1px solid #999;
    width:975px;
    padding:10px 10px;
    display:none;
    *width:973px;
}

.advanced_options .ad_op_content_list.act{
    display:block;
}

.advanced_options .ad_op_content_list li{
    line-height:24px;
}

/*产品图*/
.not_select{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.font-yahei{
    font-family:Microsoft YaHei, Arial, Lucida, Verdana, Hiragino Sans GB, STHeiti, WenQuanYi Micro Hei, SimSun, sans-serif;
}

.picture_show{
    overflow:hidden;
    margin-bottom:20px;
}

.picture_pic{
    width:420px;
    float:left;
    position:relative;
    z-index:2;
}

.picture_pic_box{
    position:relative;
    cursor:move;
    border:1px solid #e2e2e2;
    width:418px;
    height:418px;
}

img.picture_pic_big{
    cursor:move;
    width:100%;
    height:100%;
}

.picture_pic_box .easyzoom-flyout{
    z-index:2;
    border:1px solid #e2e2e2;
    position:absolute;
    top:-1px;
    right:-440px;
    width:100%;
    height:100%;
    overflow:hidden;
}

.picture_pic_small{
    margin-top:14px;
    height:64px;
    position:relative;
}

.small_arrow_ico{
    width:10px;
    height:25px;
    background:url(../images/oct_ico.png);
    display:block;
}

.small_left_ico{
    background-position:0 -21px;
}

.small_right_ico{
    background-position:-10px -21px;
}

.small_pic_list{
    width:390px;
    margin:0 15px;
    overflow:hidden;
    height:64px;
    position:relative;
}

.picture_pic_small ul{
    overflow:hidden;
    position:absolute;
}

.picture_pic_small ul li{
    float:left;
    width:64px;
    height:64px;
    margin:0 7px;
}

.picture_pic_small ul li a{
    border:2px solid #fff;
    display:block;
}

.picture_pic_small ul li a:hover, .picture_pic_small ul li a.act{
    border-color:#ff6600;
}

.picture_pic_small ul li a img{
    width:100%;
    height:100%;
    display:block;
    *width:60px;
    *height:60px;
}

.small_arrow{
    width:15px;
    height:25px;
    text-align:left;
    position:absolute;
    top:20px;
    cursor:pointer;
    display:none;
    left:0;
}

.small_arrow.dis{
    opacity:.3;
    filter:alpha(opacity=33);
}

.small_arrow.arrow_left{
    right:0;
    text-align:right;
    left:auto;
}

.picture_user{
    height:14px;
    margin:20px auto;
    text-align:center;
}

.picture_user a{
    padding:0 20px;
}

.share_ico{
    width:14px;
    height:14px;
    background:url(../images/oct_ico.png) -19px 0 no-repeat;
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:middle;
    margin:0 5px;
}

.recommend_ico{
    width:14px;
    height:14px;
    background:url(../images/oct_ico.png) -37px 0 no-repeat;
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:middle;
    margin:0 5px;
}

.picture_info{
    width:738px;
    float:right;
}

.picture_info strong{
    color:#999;
    font-weight:100;
}

.picture_name{
    font-size:18px;
    color:#333;
}

.picture_promotions{
    color:#666;
    font-family:SimSun;
    margin:25px 0;
}

.picture_price{
    background:#f6f6f6;
    line-height:50px;
    overflow:hidden;
    position:relative;
    z-index:1;
    padding-left:10px;
    height:95px;
}

.picture_spike{
    line-height:24px;
    color:#333;
    height:24px;
    border:1px solid #ccc;
    display:inline-block;
    *display:inline;
    *zoom:1;
    padding-right:12px;
    vertical-align:top;
}

.spike_time_ico{
    width:17px;
    height:16px;
    display:inline-block;;
    *display:inline;
    *zoom:1;
    background:url(../images/oct_ico.png) -50px 0 no-repeat;
    margin:0 7px;
    vertical-align:middle;
}

.picture_price del{
    margin-left:10px;
    color:#999;
    font-size:14px;
}

.picture_price strong{
    margin-left:10px;
    color:#333;
    position:relative;
    top:-2px;
}

.picture_price b{
    font-size:32px;
    color:#e12228;
}

.picture_price i{
    font-size:30px;
    font-style:normal;
}

.picture_evaluation{
    position:absolute;
    right:20px;
    height:50px;
    top:0;
}

.picture_evaluation a{
    color:#ff6600;
    margin-left:10px;
}

.picture_preferential{
    background:#f6f6f6;
    margin-top:10px;
    padding:0 10px;
    line-height:40px;
    overflow:hidden;
}

.picture_preferential strong{
    display:block;
    float:left;
}

.preferential_list{
    line-height:30px;
    margin:5px 0;
    float:left;
    *margin-top:3px;
    *padding-bottom:5px;
    display:inline-block;
}

.preferential_list ul{
}

.preferential_ico{
    background:#e4393c;
    color:#fff;
    padding:1px 2px;
    margin:0 2px;
}

.preferential_ico.full_cut{
    background:#e4393c;
}

.preferential_ico.free_shipping{
    background:#05b8ee;
}

.preferential_list .more_btn{
    right:-20px;
    top:-2px;
}

.picture_size{
    margin-top:20px;
    line-height:25px;
}

.picture_size ul{
    overflow:hidden;
    display:inline-block;
    vertical-align:middle;
    *display:inline;
    *zoom:1
}

.picture_size ul li{
    border:1px solid #c4c4c4;
    float:left;
    height:23px;
    width:48px;
    margin-left:10px;
    text-align:center;
    cursor:pointer;
    position:relative;
}

.picture_size ul li.act i{
    position:absolute;
    bottom:-1px;
    right:-1px;
    width:13px;
    height:14px;
    background:url(../images/oct_ico.png) -22px -13px no-repeat;
}

.picture_size ul li.act{
    border-color:#ff6600;
}

.picture_quantity{
    margin-top:20px;
}

.picture_change{
    width:18px;
    height:32px;
    border:1px solid #c4c4c4;
    font-size:14px;
    float:left;
}

.picture_change.dis{
    color:#ccc;
}

.picture_calculate{
    vertical-align:middle;
    overflow:hidden;
    font-family:SimSun;
    color:#333;
    text-align:center;
    line-height:32px;
    cursor:pointer;
    display:inline-block;
    *display:inline;
    *zoom:1;
    margin-left:10px;
}

.picture_subtract{
}

.picture_cont{
    border:1px solid #c4c4c4;
    font-size:14px;
    width:46px;
    height:32px;
    float:left;
    margin-left:-1px;
    white-space:nowrap;
    overflow:hidden;
}

.picture_add{
    margin-left:-1px;
}

.picture_stock{
    color:#999;
    font-size:14px;
}

.picture_button{
    margin-top:45px;
}

.picture_buy_button{
    width:173px;
    height:47px;
    background:#ff6600;
    color:#fff;
    font-size:25px;
    line-height:47px;
    text-align:center;
    display:inline-block;
    *display:inline;
    *zoom:1;
    border-radius:2px;
    margin-right:26px;
    *line-height:45px;
}

.picture_buy_now:hover{
    background-color:#e15c03;
    color:#fff;
}

.picture_add_cart{
    background-color:#27b484;
}

.picture_add_cart:hover{
    background-color:#26a57a;
    color:#fff;
}

/*商品介绍*/
.product_desciption{
    width:1000px;
    float:right;
}

.product_des_nav{
    border:1px solid #e5e5e5;
    height:46px;
}

.product_des_nav ul{
    overflow:hidden;
}

.product_des_nav ul li{
    width:116px;
    height:46px;
    float:left;
    text-align:center;
    line-height:46px;
    border:1px solid #e5e5e5;
    border-top:none;
    margin-left:-1px;
    cursor:pointer;;
}

.product_des_nav ul li.act{
    border-bottom-color:#fff;
    font-weight:bold;
    color:#27b484;
}

.product_detail{
}

.product_des_specification{
    border:1px solid #e5e5e5;
    border-top:none;
}

.product_des_specification ul{
    width:720px;
    padding:22px 0;
    overflow:hidden;
    padding-left:26px;
}

.product_des_specification ul li{
    width:240px;
    float:left;
    height:22px;
    line-height:22px;
    margin:7px 0;
}

.product_des_pic{
    margin-top:2px;
}

.product_comment{
    margin-top:30px;
    margin-bottom:23px;
}

.product_comment_tab{
    overflow:hidden;
    position:relative;
}

.product_comment_tab ul{
    background:#f4f4f4;
    height:35px;
}

.product_comment_tab ul li{
    width:134px;
    height:35px;
    line-height:35px;
    text-align:center;
    float:left;
    border-left:1px solid #fff;
    margin-left:-1px;
    cursor:pointer;
}

.product_comment_tab ul li.act{
    color:#27b484;
    font-weight:bold;
}

.product_comment_con{
    border:1px solid #e5e5e5;
    border-top:none;
]
}

.product_comment_con ul{
}

.product_comment_con ul li{
    overflow:hidden;
    border-top:1px solid #e5e5e5;
}

.pro_com_user{
    width:134px;
    float:left;
}

.pro_com_user_pic{
    position:relative;
    width:48px;
    height:48px;
    margin:15px auto;
}

.pro_com_user_pic img{
    width:100%;
    height:100%;
    display:block;
}

.pro_com_user_name{
    color:#666;
    text-align:center;
}

.pro_com_user_pic_yuan{
    width:48px;
    height:48px;
    background:url(../images/oct_ico.png) 0 -47px no-repeat;
    position:absolute;
    top:0;
    left:0;
}

.pro_com_con{
    width:864px;
    float:left;
}

.pro_com_star{
    height:12px;
    margin:15px 0;
}

.star_box{
    overflow:hidden;
}

.star_box i{
    width:12px;
    height:12px;
    background:url(../images/oct_ico.png) -35px -29px no-repeat;
    display:inline-block;
    margin:0 1px;
    float:left;
}

.star_box i.act{
    background-position:-22px -29px;
}

.pro_com_text{
    color:#333;
    margin-bottom:15px;
}

.pro_com_text span{
    color:#999;
    margin-left:20px;
}

.pro_com_time{
    float:right;
    margin-right:20px;
}

.pro_com_interflow{
    margin:14px 0;
}
.pro_com_interflow a{
    color:#999;
}

.pro_com_pic{
}

.pro_com_pic img{
    cursor:url(../images/com_pic_cursor_zoom-in.png),url(//image.octmami.com/public/pic/web/zoom_in.cur),auto;
    border:1px solid #e5e5e5;
    margin-right:10px;
    vertical-align:top;
    width:60px;
    height:60px;
    background:url(../images/loading.gif) center no-repeat;
}

.pro_com_pic img.act{
    cursor:url(../images/com_pic_cursor_zoom-out.png),url(//image.octmami.com/public/pic/web/zoom_out.cur),auto;
    width:320px;
    height:320px;
}

.product_all_comment{
    right:25px;
    top:9px;
    color:#999;
}

.product_advisory{
    font-family:SimSun;
}

.product_advisory .product_all_comment{
    width:66px;
    height:20px;
    border:1px solid #e5e5e5;
    background:#fff;
    top:7px;
    text-align:center;
    line-height:20px;
}
.product_advisory .product_all_advisor{
    right:110px;
    width:auto;
    top:8px;
    background:none;border:none;
}
.product_advisory .product_comment_con li{
    line-height:24px;
    padding:15px 0;
    padding-left:20px;
}

.product_advisory_info{
    color:#999;
    margin-bottom:5px;
}

.product_advisory_info span{
    margin-right:15px;
}

.product_advisory_q{
    color:#666;
}

.product_advisory_a{
    color:#27b484;
}

.product_advisory_q strong, .product_advisory_a strong{
    font-weight:100;
    display:block;
    float:left;
}

.product_advisory_text{
    width:905px;
    float:left;
}

.product_consult{
    margin-bottom:40px;
}

.product_consult_title{
    height:35px;
    line-height:35px;
    text-indent:38px;
    background:#f4f4f4;
    color:#27b484;
    font-weight:bold;
}

.product_consult_con{
    border:1px solid #e5e5e5;
    padding-left:20px;
}

.product_consult_con strong{
    font-weight:100;
    vertical-align:top;
    color:#999;
}

.product_consult_type{
    height:30px;
    line-height:30px;
    padding:15px 0;
}

.product_consult_type input{
    vertical-align:middle;
    margin-right:5px;
    position:relative;
    top:-1px;
}

.product_consult_content{
}

.product_consult_content textarea{
    width:600px;
    padding:10px;
    background:#fff;
    border:1px solid #e5e5e5;
    max-width:850px;
    min-height:90px;
}

.product_consult_contact{
    margin-top:18px;
}

.product_consult_contact input{
    border:1px solid #e5e5e5;
    width:200px;
    padding:0 5px;
    height:30px;
    line-height:30px;
    vertical-align:top;
    *margin-top:-3px;
}

.product_consult_btn{
    padding-left:63px;
    margin:25px 0;
    *padding-left:65px;
}

.product_consult_sub{
    display:inline-block;
    *display:inline;
    *zoom:1;
    background:#27b484;
    color:#fff;
    height:30px;
    line-height:30px;
    padding:0 10px;
    border-radius:2px;
    font-size:14px;
    text-align:center;
    font-weight:bold;
}

.product_consult_sub:hover{
    color:#fff;
    background-color:#24a076;
}

.product_consult_contact strong{
    line-height:30px;
    position:relative;
    *top:5px;
}

