/* 
 Copyright @ WWW.OCTMAMI.COM 
 Help Center
*/
.main{
    overflow:hidden;
    *zoom:1
}

.font{
    font-family:"microsoft yahei";
}

/*左侧栏*/
.left_side_box{
    float:left;
    width:187px;
    margin-right:10px;
    font-family:"microsoft yahei";
}

.left_menu_box{
    width:185px;
    border:1px solid #f5f5f5;
}

.left_menu_title{
    height:40px;
    line-height:40px;
    background:#f5f5f5;
    color:#666;
    padding:0 15px;
    font-size:14px;
    border-bottom:1px solid #e1e1e1;
    cursor:pointer;
    position:relative;
}

.left_menu_title:hover{
    background:#eee;
}

.icon_lm_arrow{
    border-style:solid dashed solid dashed;
    border-color:#b5b5b5 transparent #b5b5b5 transparent;
    border-width:5px 5px 0;
    position:absolute;
    top:18px;
    right:16px;
    font-size:0;
    line-height:0;
    height:0;
    overflow:hidden;
}

.left_menu_set.open .left_menu_content{
    display:block;
}

.left_menu_set.open .icon_lm_arrow{
    border-width:0 5px 5px;
}

.left_menu_content{
    height:30px;
    line-height:30px;
    border-bottom:1px solid #f5f5f5;
    font-size:12px;
    padding:0 15px;
    overflow:hidden;
    display:none;
}

.left_menu_link{
    color:#666;
    display:block;
}

.left_menu_content.current .left_menu_link{
    color:#27b484;
}

/*左侧栏*/
/*右侧内容栏*/
.right_content{
    width:1013px;
    float:left;
    background-color:#FFF;
    min-height:600px;
}

.right_content_set{
    border:1px solid #e5e5e5;
    min-height:400px;
}

.right_content_title{
    height:40px;
    line-height:40px;
    font-size:14px;
    background:#f5f5f5;
    border-bottom:1px solid #e5e5e5;
    padding-left:16px;
}

.right_contxt{
    padding:20px 30px 15px;
    line-height:22px;
}

/*十月快报*/
.font-yahei{
    font-family:Microsoft YaHei, Arial, Lucida, Verdana, Hiragino Sans GB, STHeiti, WenQuanYi Micro Hei, SimSun, sans-serif;
}

.news_list{
    font-family:SimSun;
}

.news_list ul{
    overflow:hidden;
}

.news_list ul li{
    overflow:hidden;
    position:relative;
    bottom:-1px;
    height:35px;
    line-height:35px;
    padding-top:10px;
    border-bottom:1px solid #f0f0f0;
    text-indent:20px;
}

.news_list ul li span{
    float:right;
    color:#999;
    margin-right:10px;
}

.news_content{
    width:1108px;
}

.news_content .right_content_set{
    padding:10px 50px;
}

.news_content h5{
    color:#333;
    font-size:20px;
    text-align:center;
    margin:15px 0;
    font-weight:100;
}

.news_content strong{
    display:block;
    text-align:center;
    color:#999;
    padding-bottom:20px;
    border-bottom:1px solid #f0f0f0;
    margin-bottom:10px;
    font-family:SimSun;
    font-weight:100;
}

.news_content_text{
    line-height:30px;
    color:#666;
    margin-bottom:155px;
}