html
    head
        link(rel="stylesheet",href='public/css/bootstrap.min.css')
        link(rel="stylesheet",href='public/css/style.css')
        script(type="text/javascript" src="public/js/layer.js")
    body
        div
            |#{val}
